.item-detail {
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
  background-color: var(--bg-white);
  border-radius: var(--radius);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);  /* Sombra suave */
  overflow: hidden;                             /* Asegura que el contenido no se desborde del contenedor */
}

.item-detail img {
  width: 100%;        /* Ocupa todo el ancho del contenedor */
  height: 100%;       /* Ocupa todo el alto del contenedor */
  object-fit: cover;  /* hace que la imagen llene sin deformarse */
}

.item-detail .body {
  text-align: left;
  padding: 1rem;
}

.item-detail .title {
  color: var(--text-dark);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.item-detail .price-container {
  display: flex;
  align-items: center;       
  gap: 0.5rem;
}

.item-detail .out-of-stock {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--text-white);
  background-color: var(--text-light);
  padding: 0.2rem 0.4rem;
  border-radius: var(--radius);
  margin-top: 0.5rem;
  margin-bottom: 0.85rem;
}
