.checkout-form {
  padding: 1rem;
  background-color: var(--bg-white);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);    /* Sombra suave */
  margin-top: 1rem;

  /* NUEVO: estructura en dos columnas */
  display: grid;
  grid-template-columns: 100px 1fr;   /* primera columna para labels, segunda para inputs */
  gap: 0.75rem 1rem;                  /* espacio entre filas y columnas */
  align-items: center;                /* centra verticalmente inputs y labels */
}

.checkout-form label {
  text-align: right;    /* alinea el texto del label a la derecha para pegarlo al input */
  font-weight: 500;
}

.checkout-form input {
  /* width: calc(100% -1rem);   /* ocupa todo el espacio disponible en su columna, menos un padding derecho */
  width: 600px;
  padding: 0.5rem;
  border: 1px solid var(--border);
  border-radius: 4px;
}
