.navbar {
  background-color: var(--bg-dark);
  width: 100%;
}

.navbar-container {
  max-width: 1200px;                /* Ancho límite deseado */
  margin: 0 auto;                   /* Quita el margen por defecto y centra el contenedor */
  display: flex;                    /* Coloca los elementos en línea */
  align-items: center;              /* Centra verticalmente los elementos */
  justify-content: space-between;   /* Espacio entre elementos */
  padding: 0.5rem;                  /* Padding alrededor */
}

.navbar-logo img {
  height: 42px;
  padding: 0.25rem 0 0 0;
  cursor: pointer;
}

.navbar-menu {
  list-style: none;   /* Quita los puntos de la lista */
  display: flex;      /* Coloca los elementos en línea */ 
  gap: 0.5rem;        /* Espacio entre elementos */
  margin: 0;
  padding: 0;
}

.navbar-menu a {
  color: var(--text-light);
  text-decoration: none;    /* Quita el subrayado */
  font-weight: 500;
  padding: 0.5rem;
  border-radius: var(--radius);
}

.navbar-menu a:hover {
  color: var(--accent-hover);
  background-color: var(--bg-accent);
}

.navbar-right {
  display: flex;          /* Coloca los elementos en línea */
  align-items: center;    /* Centra verticalmente los elementos */
  gap: 0.5rem;            /* Espacio entre elementos */
}

.navbar-orders {
  margin: 0rem 0rem 0rem -0.5rem;
  color: var(--text-light);
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: var(--radius);
}

.navbar-orders:hover {
  color: var(--accent-hover);
  background-color: var(--bg-accent);
}

.navbar-cart {
  display: flex;
  align-items: center;
}

.navbar-logo a:hover,
.navbar-cart a:hover {
  background-color: transparent !important; /* Evita que logo o carrito tengan hover del menú */ 
}
