.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;                            /* Centra verticalmente los elementos */
  text-align: left;
  background-color: #ffffff;                    /* Fondo blanco */
  border: 1px solid #e5e7eb;                    /* Gris claro (#e5e7eb ≈ Tailwind gray-200) */
  border-radius: 6px;                             /* Bordes redondeados */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);    /* Sombra suave */
  padding: 16px;                                  /* Espaciado interno */
  margin-bottom: 0.1rem;                          /* Espacio entre items */
}

.cart-item img {
  border-radius: var(--radius);
  object-fit: cover;
}

.cart-item .title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-dark);
}

.cart-item .quantity {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-dark);
}

.cart-item .price {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--text-dark);
}
