#root {
  max-width: 1280px;    /* limita el ancho máximo del contenido */
  margin: 0 auto;       /* centra el contenedor root horizontalmente */
  padding: 1rem 1rem;        /* agrega espacio interno alrededor del contenido */
  text-align: center;   /* centra todo el texto y elementos inline dentro del root */
}

.card {
  padding: 2em;   /* agrega espacio interno alrededor del contenido de la tarjeta */
  background-color: aqua;   /* REMOVER */
}
