#root {
  max-width: 1280px;    /* limita el ancho máximo del contenido */
  margin: 0 auto;       /* centra el contenedor root horizontalmente */
  padding: 1rem;        /* agrega espacio interno alrededor del contenido */
  text-align: center;   /* centra todo el texto y elementos inline dentro del root */
}

.logo {
  height: 6em;                /* establece la altura del logo */
  padding: 1.5em;             /* agrega espacio interno alrededor del logo */
  will-change: filter;        /* optimiza el rendimiento del hover, avisando al navegador que el filter cambiará. */
  transition: filter 300ms;   /* suaviza el efecto visual */
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);   /* agrega una sombra difusa alrededor del logo al pasar el cursor */
}

.card {
  padding: 2em;   /* agrega espacio interno alrededor del contenido de la tarjeta */
  background-color: aqua;   /* REMOVER */
}
