:root {
  --bg-gray: #f6f6f7;
  --bg-white: #ffffff;
  --bg-dark:  #E0E0E0;
  --bg-accent: #BDBDBD;
  --bg-accent-light: #00806020;  /* Accent background with transparency */
  --bg-orange: #FF592A;
  --border: #dfe3e8;
  --text-dark: #202223;
  --text-light: #6d7175;
  --text-white: #ffffff;
  --accent: #008060;
  --accent-hover: #006e52;
  --button-face: #009688;
  --button-gray: #F5F5F5;
  --button-gray-hover: #E0E0E0;
  --radius: 6px;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  text-align: center;   /* centra todo el texto y elementos inline dentro del root */
}

.section-container {
  max-width: 1035px;
  margin: 1rem auto;
  /* border: 1px solid var(--border);  /*  */
  /* border-radius: var(--radius);     /* */
}

.section-header {
  padding: 0 0 0.5rem 0;
  color: var(--text-light);
  font-weight: 600;
  text-align: left;   /* Fuerza el texto a alinearse a la izquierda */
}

.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.section-body {
  padding: 1rem;
  background-color: var(--bg-white);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);    /* Sombra suave */
}

.section-footer {
  padding: 0.75rem 0 0 0;
  color: var(--text-light);
  font-weight: 600;
  text-align: left;
  display: flex;
  align-items: center;    /* Centra verticalmente los elementos */
  gap: 0.75rem;
}

.section-button {
  font-weight: 500;
  color: white;
  background-color: var(--button-face);
  border: none;
  border-radius: var(--radius);
  padding: 0.5rem;
  cursor: pointer;
}

.section-button:hover {
  background-color: var(--accent-hover);
}

.section-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.item-button {
  font-weight: 500;
  color: var(--text-light);
  background-color: var(--button-gray);
  border: none;
  border-radius: var(--radius);
  padding: 0.5rem;
  cursor: pointer;
}

.item-button:hover {
  background-color: var(--button-gray-hover);
}

.item-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
