:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;   /* fuentes preferidas */
  line-height: 1.5;                                               /* altura de línea legible */
  font-weight: 400;                                               /* peso de fuente normal */

  color: #213547;               /* color de texto para modo oscuro */
  background-color: #f6f6f7;    /* Shopify light background */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-gray);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-dark);
  margin: 0;
}

p, span {
  margin: 0;
}
