:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;   /* fuentes preferidas */
  line-height: 1.5;                                               /* altura de línea legible */
  font-weight: 400;                                               /* peso de fuente normal */

  color: #213547;               /* color de texto para modo oscuro */
  background-color: #f6f6f7;    /* Shopify light background */

  font-synthesis: none;                 /* desactiva la síntesis de fuentes */  
  text-rendering: optimizeLegibility;   /* optimiza la legibilidad del texto */
  -webkit-font-smoothing: antialiased;  /* suaviza las fuentes en navegadores WebKit */
  -moz-osx-font-smoothing: grayscale;   /* suaviza las fuentes en Firefox en macOS */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-gray);
}
